<%- layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row flex-fill">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">Login</h5>
                    <form action="/login" class="needs-validation" novalidate method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="username">Username: </label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password: </label>
                            <input class="form-control" type="password" id="password" name="password" required>
                        </div>
                        <div class="d-grid">
                            <Button class="btn btn-success">Login</Button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>